{% extends 'av/base.html' %}

{% block title %} Контакты {% endblock %}

{% block content %}
    <div class="Features">
        <h3>Реквизиты и юридический адрес:</h3>
        
        <p>
            ООО «Автоклассифайд»
        </p>
        <p>    
            Свидетельство о государственной регистрации юридического лица выдано Минским горисполкомом 15 марта 2017 года с регистрационным номером 192787977
        </p>
        <p>    
            220049, г. Минск, ул. Кутузова, д.15, 2-й и 3-й этаж
            УНП 192787977
        </p>
        <p>   
            Почтовый адрес: 220049, г. Минск, ул. Кутузова, д.15, 2-й и 3-й этаж
        </p>
        <p>
            IBAN BY39ALFA30122737030010270000 в ЗАО 'Альфа-Банк', г. Минск, ул.Сурганова, д.43-47,
        </p>     
        <p>
            БИК: ALFABY2X
        </p>
        <p>
            +375 29 693 77 77
        </p>
        <p>
            +375 29 505 77 77
        </p>
        <p>
            +375 17 301 98 05
        </p>
        <p>
            E-mail: info@av.by
        </p>
        {# Комментарий #}
    </div>
{% endblock %}